<div class="people">
  <div class="passport">
    <div class="profile-pic">
      <img src="../../assets/logo.png" alt="Profile Picture">
    </div>
    <div className="bio">
        <h3>About</h3>
        <hr/>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum cumque at provident repudiandae magni fuga doloribus culpa explicabo dolorum eius molestiae ipsa laudantium voluptatem similique eveniet, ipsam iure natus perferendis?</p>
    </div>
    <div className="skills">
        <hr/>
        <h3>Skills</h3>
    </div>
    <div className="workexperience">
        <hr/>
        <h3>Work Experience</h3>
    </div>
    <div className="education">
        <hr/>
        <h3>Education</h3>
    </div>
    <div className="awards">
        <hr/>
        <h3>Awards</h3>
    </div>
    <div className="certifications">
        <hr/>
        <h3>Certifications</h3>
    </div>
    <div className="pulications">
        <hr/>
        <h3 className="publications">Publications</h3>
    </div>
  </div>
  <div class="people-content">
      <mat-tab-group>
          <mat-tab label="First"> Content 1 </mat-tab>
          <mat-tab label="Second"> Content 2 </mat-tab>
          <mat-tab label="Third"> Content 3 </mat-tab>
        </mat-tab-group>
  </div>
</div>