<div class="landing-page">
  <section class="main text-center">
      <div class="tab-wrapper">
          <div class="tab-content">
            <h1>Empowering Global Agriculture</h1>              
            <button type="button" class="btn btn-primary">Explore</button>
          </div>
      </div>
  </section>

  <section class="archive text-center">
      <div class="tab-wrapper">
              <div class="tab-content">
              <h3>Learn Agriculture in a Step by Step Guide</h3>
              <button type="button" class="btn btn-primary">Explore Archive</button>
            </div>
        </div>
  </section>

  <section class="funding text-center">
      <div class="tab-wrapper">
          <div class="tab-content">
            <h1>Manage Fund for your future</h1>
            <button type="button" class="btn btn-primary">Apply Now</button>
          </div>
      </div>
  </section>

  <section class="job-hire text-center">
      <div class="tab-wrapper">
          <div class="tab-content">
            <h1>Need People to Get Your Job Done?</h1>
            <button type="button" class="btn btn-primary">Hire</button>
          </div>
      </div>
  </section>

  <section class="job-browse text-center">
      <div class="tab-wrapper">
          <div class="tab-content">
            <h1>Interested to Work in Agriculture Industry?</h1>
            <button type="button" class="btn btn-primary">Browse Jobs</button>
          </div>
      </div>
  </section>

  <section class="marketplace text-center">
      <div class="tab-wrapper">
          <div class="tab-content">
            <h1>Ready to Sell Your Product?</h1>
            <h2>Introducing Agriculture Marketplace</h2>
            <button type="button" class="btn btn-primary">Enter</button>
        </div>
      </div>
  </section>

  <section class="apps text-center">
      <div class="tab-wrapper">
          <div class="tab-content">
            <h1>Find Usefull Apps to Improve Your Product</h1>
            <button type="button" class="btn btn-primary">Browse Apps</button>
          </div>
        </div>
  </section>

  <section class="feed text-center">
      <div class="tab-wrapper">
          <div class="tab-content">
            <h1>We are always updating new information from around the Global Agriculture Industry</h1>
            <button type="button" class="btn btn-primary">Subscribe Feed</button>
          </div>
        </div>
  </section>
</div>